<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="form-container" id="taskForm">
      <h1>Task Manager</h1>
      <!-- Task Creation Form -->
      <h2>Create Task</h2>
      <form action="/task/createtask" method="POST">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required />
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <select id="status" name="status" required>
            <option value="pending">Pending</option>
            <option value="completed">Completed</option>
          </select>
        </div>
        <div class="form-group">
            <label for="enddate">End date:</label>
            <input type="date" id="enddate" name="enddate" required>
        </div>
        <button type="submit" class="submit">Create Task</button>
      </form>
    </div>

    <a class="taskbutton" href="/task/viewtask">
      <button>View All Tasks</button>
    </a>
  </body>
</html>
